@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var (--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cow {
  position: relative; 
  left: 50%;
  filter: drop-shadow(0 0 3px #57CC99);
  animation: cowJourney 4s ease-in-out infinite;
}

@keyframes cowJourney {
  0%, 100% {
    top: 0; 
    transform: translateX(-50%) translateY(0);
  }
  
  50% {
    top: 0; 
    transform: translateX(-50%) translateY(-40px);
  }
}

.signup-button {
  
  font-size: x-large;
  position: relative;
  padding: 0.75rem 1.5rem; 
  border-radius: 0.125rem;
  font-weight: bold; 
  border-width: 2px;
  border-radius: 4px;
  border-color: #38a572;
  color: #C7F9CC; 
  cursor: pointer; 
  
}

.glow-div {
  position: absolute;
  top: 100%;
  width: 40%; 
  height: 25%; 
  background-color: #80ED99; 
  opacity: 0.6; 
  filter: blur(20px); 
  border-radius: 360%;
}

.input-field {
  opacity: 95%;
  padding: 0.125rem;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: #38A3A5;
  background-color: #22577A;
  color: #C7F9CC;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.gradient-slide {
  background: linear-gradient(180deg, #38A3A5, #22577A, #57CC99, #22577A, #38A3A5);
  background-size: 100% 200%; 
  filter: blur(1px); 
  border-radius: 0.125rem; 
  animation: gradientMoveVertical 8s linear infinite;
}

@keyframes gradientMoveVertical {
  0% { background-position: 50% 0%; }
  100% { background-position: 50% 200%; }
}

.button-hover:hover {
  opacity: 1;
  color: #C7F9CC;
  border-radius: 0.125rem;
}